# True if local with sqlite
DEBUG=true
DATABASE_URL=sqlite:///./local.db

# With Postgresql
# DATABASE_URL=postgresql://user:password@db:5432/mydb
# POSTGRES_USER=admin_ia
# POSTGRES_PASSWORD=admin_pass
# POSTGRES_DB=db_ia